body {
    text-align: center;
}

#board {
    background-color: gray;
}

.game-over-container {
    position: absolute;
    top: 26%; /* Adjust this value to position it below your 'Game Over' text */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
 
  